@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-Regular.eot');
  src: local('Gilroy Regular'), local('Gilroy-Regular'),
      url('/public/fonts/gilroy/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-Regular.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-Regular.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-ExtraboldItalic.eot');
  src: local('Gilroy Extrabold Italic'), local('Gilroy-ExtraboldItalic'),
      url('/public/fonts/gilroy/Gilroy-ExtraboldItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-ExtraboldItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-ExtraboldItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-ExtraboldItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), local('Gilroy-Bold'),
      url('/public/fonts/gilroy/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-Bold.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-Bold.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-Black.eot');
  src: local('Gilroy Black'), local('Gilroy-Black'),
      url('/public/fonts/gilroy/Gilroy-Black.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-Black.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-Black.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-Light.eot');
  src: local('Gilroy Light'), local('Gilroy-Light'),
      url('/public/fonts/gilroy/Gilroy-Light.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-Light.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-Light.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-Semibold.eot');
  src: local('Gilroy Semibold'), local('Gilroy-Semibold'),
      url('/public/fonts/gilroy/Gilroy-Semibold.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-Semibold.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-Semibold.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), local('Gilroy-Medium'),
      url('/public/fonts/gilroy/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-Medium.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-Medium.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-MediumItalic.eot');
  src: local('Gilroy Medium Italic'), local('Gilroy-MediumItalic'),
      url('/public/fonts/gilroy/Gilroy-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-MediumItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-MediumItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-BlackItalic.eot');
  src: local('Gilroy Black Italic'), local('Gilroy-BlackItalic'),
      url('/public/fonts/gilroy/Gilroy-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-BlackItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-BlackItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-UltraLight.eot');
  src: local('Gilroy UltraLight'), local('Gilroy-UltraLight'),
      url('/public/fonts/gilroy/Gilroy-UltraLight.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-UltraLight.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-UltraLight.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-UltraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-RegularItalic.eot');
  src: local('Gilroy Regular Italic'), local('Gilroy-RegularItalic'),
      url('/public/fonts/gilroy/Gilroy-RegularItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-RegularItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-RegularItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-SemiboldItalic.eot');
  src: local('Gilroy Semibold Italic'), local('Gilroy-SemiboldItalic'),
      url('/public/fonts/gilroy/Gilroy-SemiboldItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-SemiboldItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-SemiboldItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-HeavyItalic.eot');
  src: local('Gilroy Heavy Italic'), local('Gilroy-HeavyItalic'),
      url('/public/fonts/gilroy/Gilroy-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-HeavyItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-HeavyItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-HeavyItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-Extrabold.eot');
  src: local('Gilroy Extrabold'), local('Gilroy-Extrabold'),
      url('/public/fonts/gilroy/Gilroy-Extrabold.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-Extrabold.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-Extrabold.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-BoldItalic.eot');
  src: local('Gilroy Bold Italic'), local('Gilroy-BoldItalic'),
      url('/public/fonts/gilroy/Gilroy-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-BoldItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-BoldItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-UltraLightItalic.eot');
  src: local('Gilroy UltraLight Italic'), local('Gilroy-UltraLightItalic'),
      url('/public/fonts/gilroy/Gilroy-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-UltraLightItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-UltraLightItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-UltraLightItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-LightItalic.eot');
  src: local('Gilroy Light Italic'), local('Gilroy-LightItalic'),
      url('/public/fonts/gilroy/Gilroy-LightItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-LightItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-LightItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-Heavy.eot');
  src: url('/public/fonts/gilroy/');
  src: local('Gilroy Heavy'), local('Gilroy-Heavy'),
      url('/public/fonts/gilroy/Gilroy-Heavy.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-Heavy.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-Heavy.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-Thin.eot');
  src: local('Gilroy Thin'), local('Gilroy-Thin'),
      url('/public/fonts/gilroy/Gilroy-Thin.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-Thin.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-Thin.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy';
  src: url('/public/fonts/gilroy/Gilroy-ThinItalic.eot');
  src: local('Gilroy Thin Italic'), local('Gilroy-ThinItalic'),
      url('/public/fonts/gilroy/Gilroy-ThinItalic.eot?#iefix') format('embedded-opentype'),
      url('/public/fonts/gilroy/Gilroy-ThinItalic.woff2') format('woff2'),
      url('/public/fonts/gilroy/Gilroy-ThinItalic.woff') format('woff'),
      url('/public/fonts/gilroy/Gilroy-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}



:root {
  --primary-color: #1967d2;
  --primary-hover-bg-color: #0146a6;
  --primary-2nd-color: #f9ab00;
  --primary-2nd-hover-bg-color: #e9a000;
}

a {
  color: var(--primary-color);
}

$breakpoints: (
  xxs: 420px,
  xs: 576px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);

@mixin media-below($breakpoint) {
  $breakpoint-value: map-get($breakpoints, $breakpoint);

  @media (max-width: ($breakpoint-value - 1)) {
    @content;
  }
}

* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 100%;
}

body {
  font-size: 16px;
  color: #363636;
  line-height: 28px;
  font-weight: 400;
  background: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover,
a:focus,
a:visited {
  text-decoration: none;
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
  line-height: 1.2em;
}

section {
  position: relative;
}

textarea {
  overflow: hidden;
  resize: none;
}

button {
  background-color: transparent;
  outline: none !important;
  cursor: pointer;
  min-width: auto;
}

p,
.text {
  font-size: 15px;
  color: #696969;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}

::-webkit-input-placeholder {
  color: inherit;
}
::-moz-input-placeholder {
  color: inherit;
}
::-ms-input-placeholder {
  color: inherit;
}

.auto-container {
  position: static;
  max-width: 1310px;
  padding: 0px 15px;
  margin: 0 auto;
  width: 100%;
}

.small-container {
  position: static;
  max-width: 900px;
  padding: 0px 15px;
  margin: 0 auto;
}

.page-wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 300px;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 300ms ease;
}

.section {
  padding: 60px 0 30px;
}

.bg_alice {
  background-color: #f9fafc;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.fancybox-can-drag .fancybox-image-wrap {
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.video-outer {
  position: relative;
  margin-bottom: 50px;
}

.video-outer h4 {
  margin-bottom: 30px;
}

.video-box {
  position: relative;
}

.video-box .image {
  position: relative;
  margin-bottom: 30px;
}

.video-box .image img {
  display: block;
  width: 100%;
}

.video-box .image a {
  position: relative;
  display: block;
}

.video-box .image .icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90px;
  height: 90px;
  background: #ffffff;
  border-radius: 50%;
  line-height: 90px;
  text-align: center;
  color: #000000;
  font-size: 44px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
